{% extends "base.html" %}
{% block body %}
    <!--<p><a href="/search">検索へのリンク</a></p>-->
    <div class="mt home-container">
        <div>
            <a href="">
                <div class="home-menu pd"><i class="material-icons icons-add">assessment</i>トレンド</div>
            </a>
            <a href="">
                <div class="home-menu pd"><i class="material-icons icons-add">flag</i>マイルストーン</div>
            </a>
        </div>
        <div class="home-main">
            <div class="home-main_header">
                <div>
                    <span class="title_label"><i class="material-icons icons-add">assessment</i>トレンド</span>
                    <span class="title_label_sub">&nbsp;最近人気の記事を更新</span>
                </div>
                <div class="home-main_nav">
                    <span>1日</span>
                    <span>週間</span>
                    <span>月間</span>
                </div>
            </div>
            <div>
                あああああ
            </div>
        </div>
    </div>
{% endblock %}